.container-registro {
    background: linear-gradient(rgb(5, 112, 235), rgb(140, 128, 128));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
}

.titulo-registro {
    font-weight: bold;
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
}

.login-options-registro {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    text-align: center;
}